{%load static%}
!-- Tools -->
    <section id="tools">
        <div class="container">
            <h6 class="text-center"><span class="btn btn-sm theme-button theme-text">What I uses?</span></h6>
            <h2 class="section-heading text-center">Tools</h2>
            <p class="text-center muted-text mt-3 mb-4">Tech stack known? Here are tools that I runs:</p>
            <div class="row justify-content-center row-cols-2 row-cols-md-3 row-cols-lg-6 mt-4 gy-4 tools-container" data-aos="fade-down" data-aos-delay="200">
                <div class="col">
                    <div class="tool">
                        <img class="tool-image" src="/assets/images/tools/vscode.svg" alt="VSCode">
                        <p class="tool-name">VSCode</p>
                    </div>
                </div>
                <div class="col">
                    <div class="tool">
                        <img class="tool-image" src="/assets/images/tools/github.svg" alt="Github">
                        <p class="tool-name">Github</p>
                    </div>
                </div>
                <div class="col">
                    <div class="tool">
                        <img class="tool-image" src="/assets/images/tools/canva.svg" alt="Canva">
                        <p class="tool-name">Canva</p>
                    </div>
                </div>
                <div class="col">
                    <div class="tool">
                        <img class="tool-image" src="/assets/images/tools/Figma.svg" alt="Figma">
                        <p class="tool-name">Figma</p>
                    </div>
                </div>
                <div class="col">
                    <div class="tool">
                        <img class="tool-image" src="/assets/images/tools/ChatGPT.svg" alt="ChatGPT">
                        <p class="tool-name">ChatGPT</p>
                    </div>
                </div>
                <div class="col">
                    <div class="tool">
                        <img class="tool-image" src="/assets/images/tools/Gemini.svg" alt="Gemini">
                        <p class="tool-name">Gemini</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
