{%load static %}
<section id="things-i-love">
    <div class="container">
        <h6 class="text-center"><span class="btn btn-sm theme-button theme-text">Interests</span></h6>
        <h2 class="section-heading text-center">Things I Love</h2>
        <div class="row justify-content-center pt-3 gy-4">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" >
                <div class="card">
                    <div class="circle-container">
                        <div class="circle"><i class="bi bi-droplet-half"></i></div>
                    </div>
                    <div class="card-body">
                        <p class="card-title">Designing</p>
                        <p class="card-text">I love designing. When I see something that needs improvement, I enjoy making it better visually. I pay attention to every detail, whether it's a graphic or a user interface. My goal is to create designs that catch the eye and inspire others.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" >
                <div class="card">
                    <div class="circle-container">
                        <div class="circle"><i class="bi bi-code-slash"></i></i></div>
                    </div>
                    <div class="card-body">
                        <p class="card-title">Developing</p>
                        <p class="card-text">After designing, I dive into development. Coding is where I bring designs to life, turning concepts into digital experiences. Each line of code reflects my vision for functionality and elegance, showcasing my commitment to excellence.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" >
                <div class="card">
                    <div class="circle-container">
                        <div class="circle"><i class="bi bi-cup-hot"></i></div>
                    </div>
                    <div class="card-body">
                        <p class="card-title">Expanding</p>
                        <p class="card-text">Expanding beyond creation, I optimize. From templates to full websites, I refine post-development. Leveraging blogging and basic SEO, I enhance visibility and impact online. Each step maximizes reach and effectiveness online.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>